.comment_form {
    background-color: white;
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .avatar_container {
    align-self: flex-start;
    margin-bottom: 10px; /* Add margin-bottom to create space between avatar and comment input */
  }
  
  .comment_container {
    flex-grow: 1;
    margin-bottom: 10px; /* Add margin-bottom to create space between comment input and button */
  }
  
  .comment_text {
    height: 80px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #f7f9f9;
    padding: 8px;
  }
  
  .comment_form button[type='submit'] {
    background-color: #1d9bf0;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 12px;
    align-self: flex-end;
  }
  