.new_post_background{
  position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.new_post {
  display: flex;
  justify-content: center;
  padding: 10px 32px;
  border-bottom: 2px solid #f7f9f9;
  align-items: flex-start;
  margin-left: -250px;
  margin-right: -250px;
  box-sizing: border-box;
}

.new_post .avatar {
  flex-shrink: 0;
}

.new_tweet {
  display: flex;
  align-items: flex-end;
  padding: 10px 42px;
}

.new_post_text {
  height: 150px;
  width: 400px;
  max-width: 400px;
  border: 2px solid #f7f9f9;
  padding: 8px;
}

.new_post_tweet {
  background-color: #1d9bf0;
  border-radius: 9999px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  margin-left: 8px;
  vertical-align: top;
}

@media (max-width: 768px) {

  .new_tweet {
    align-items: center;
    padding: 10px;
  }

  .new_post_text {
    width: 100%;
    max-width: 100%;
  }

  .new_post_tweet {
    margin-left: 0;
    margin-top: 8px;
  }
}