.suggestion {
    width: auto;
    background-color: #f7f9f9;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.name_bold {
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
}

.names {
    padding-left: 12px;
    padding: 10px;
    margin: auto;
}


.follow_btn {
    background-color: #090d0f;
    border-radius: 9999px;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.suggestion:hover{
    background-color: #e7e7e8;
}