.signup_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10rem;
}

.signup_page>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_page img{
    width: 6rem;
    height: 6rem;
}

.signup_page p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
}

.signup_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_form input{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 0 0.5rem #e7e7e8;
    font-size: 1rem;
}


.signup_form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 0 0.5rem #e7e7e8;
    font-size: 1rem;
    background-color: #1d9bf0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
.signup_form button:hover {
    background-color: #1d9bf0;
}

.signup_form input:focus{
    border: 1px solid #e7e7e8;
}