.tweet {
    display: block;
    justify-content: center;
    width: auto;
    margin: 52px 0px;
    padding: 0px 52px;
    align-items: flex-start;
    border-bottom: 1.5px solid rgb(222, 213, 213);
}

.user_details {
    display: flex;
}

.username,
.username_bold {
    display: inline-block;
    align-items: flex-end;
    margin: 30px 0px;
    margin-left: 8px;
}

.username_bold {
    font-weight: bold;
}

.content {
    margin: 0px 70px;
    margin-bottom: 20px;
}

.interactions {
    margin: 0px 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 80px;
}

.interactions div {
    padding: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactions>div>img {
    width: 26px;
    height: 26px;
}

.interactions div:hover {
    background-color: #1d9cf07e;
    border-radius: 9999px;
    cursor: pointer;
}

.interactions p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    font-weight: 300;
}