.explore {
    border-left: 1.5px solid #f7f9f9;
    border-right: 1.5px solid #f7f9f9;
    margin: 0px 28px;
    display: block;
    justify-content: center;
    align-items: center;
    width: auto;
}

.explore h2 {
    position: sticky;
    top: 0;
    background-color: #ffffffed;
    padding: 28px 0px;
    padding-left: 52px;
}