.suggestion {
    width: auto;
    background-color: #f7f9f9;
    padding: 12px 16px;
    margin: 28px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.name_bold {
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.names {
    padding-left: 12px;
    padding: 10px;
    margin: auto;
}


.follow_btn {
    background-color: #090d0f;
    border-radius: 9999px;
    padding: 12px 45px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;


}